# ------------------------------------------------
# Run `python3 -m pip install -r requirements.txt`
# ------------------------------------------------


pyautogui
pyinstaller
textblob
pillow
ntplib
requests