# ------------------------------------------------
# Run `python3 -m pip install -r requirements.txt`
# ------------------------------------------------


PyAutoGUI
pyinstaller
pynput
PyUpdater[all]
textblob
opencv-python
